.graph-sorter-list {
  div {
    @extend .bg-light;
    @extend .border;
    @extend .p-2;

    input {
      @extend .mx-1;
    }

    svg {
      @extend .fs-3;
      cursor: pointer;
    }
  }
}

.vizualization-card {
  @extend .mt-2;
  width: 400px;
  height: 400px;

  .vizualization-card-content {
    @extend .h-100;
    @extend .shadow;

    .vizualization-card-body {
      @extend .d-flex;
      @extend .flex-column;

      .vizualization-card-text {
        @extend .overflow-auto;
        @extend .flex-grow-1;
      }
    }
  }
}
