.home-viz-container {
  @extend .col-12;

  .container-row {
    @extend .row-cols-1;
    @extend .row-cols-md-2;
    @extend .row-cols-xxl-3;
  }
}

.home-graph-sorter-container {
  @extend .mt-4;
  @extend .col-12;
}

.graph-sorter-list {
  @extend .row-cols-1;
  @extend .row-cols-sm-2;
  @extend .row-cols-md-3;
  @extend .row-cols-xl-4;
  @extend .row-cols-xxl-5;

  div {
    @extend .bg-light;
    @extend .border;
    @extend .p-2;
    @extend .text-center;

    input {
      @extend .mx-1;
    }

    svg {
      @extend .fs-3;
      cursor: pointer;
    }
  }
}

.vizualization-card {
  @extend .mt-2;
  width: 400px;
  height: 400px;

  .vizualization-card-content {
    @extend .h-100;
    @extend .shadow;

    .vizualization-card-body {
      @extend .d-flex;
      @extend .flex-column;

      .vizualization-card-text {
        @extend .overflow-auto;
        @extend .flex-grow-1;
      }
    }
  }
}
