.note-snippet {
  @extend .p-2;
  @extend .bg-light;
  @extend .my-2;
  @extend .border;
  @extend .border-2;
  cursor: pointer;
}

.note-snippet-selected {
  @extend .note-snippet;
  @extend .text-muted;
  cursor: auto;
  @extend .fst-italic;
}

.notes-bottom-panel {
  @extend .m-2;
  @extend .d-flex;
  @extend .flex-row-reverse;

  button {
    @extend .ms-2;
  }
}

.passage-card {
  @extend .h-100;
  @extend .shadow;
  @extend .reading-text;

  .card-body {
    @extend .d-flex;
    @extend .flex-column;
  }

  .card-title {
    cursor: pointer;
  }
  button {
    @extend .float-end;
  }

  .card-footer {
    @extend .d-flex;
    @extend .d-md-none;
    @extend .flex-row-reverse;

    img {
      @extend .ms-3;
    }
  }
}

.passage-link-selected {
  @extend .link-light;
}

.passage-link-unselected {
  @extend .link-primary;
}

.passage-card-selected {
  @extend .text-white;

  button {
    @extend .btn-close-white;
  }
}

.read-passagelauncher-col {
  @extend .col-12;
}

.read-passagecard-col {
  @extend .col-12;
  @extend .col-lg-6;
}

.read-passagenotes-col {
  @extend .col-12;
  @extend .col-lg-6;
}

.read-all-notes-col {
  @extend .mt-4;
  @extend .col-12;
}

.notelist-for-passage {
  @extend .d-none;
  @extend .d-lg-inline-block;
  @extend .w-100;
}

.notelist-for-all {
  // anything?
}
