// first import functions
@import '~bootstrap/scss/functions';

//overrides of BS variables here

//OPTION 1
// $white: #ffffff;

// $light: #e2d7cf;
// $dark: #111223;
// $primary: #533215;
// $secondary: #913c88;
// $info: #db5c25;
// $success: #4c9414;
// $warning: #feba39;
// $danger: #e90b5e;

// OPTION 2
// $white: #ffffff;

// $light: #d5d8d5;
// $dark: #171616;
// $primary: #533a56;
// $secondary: #ce542d;
// $info: #f64c6e;
// $success: #1aa068;
// $warning: #dacd1b;
// $danger: #e6340c;

// OPTION 3
// $white: #ffffff;

// $light: #e2d7c8;
// $dark: #030502;
// $primary: #2f4831;
// $secondary: #3f6b90;
// $info: #e16028;
// $success: #169d1d;
// $warning: #f4c119;
// $danger: #ed0b49;

// OPTION 4
// $white: #ffffff;

// $light: #ddd8f9;
// $dark: #100b0b;
// $primary: #2f2f63;
// $secondary: #8759dc;
// $info: #f9a99b;
// $success: #1ca664;
// $warning: #e1cc1c;
// $danger: #f0230d;

// OPTION 5
// $white: #ffffff;

// $light: #ccecdd;
// $dark: #221629;
// $primary: #114b4d;
// $secondary: #008277;
// $info: #e50058;
// $success: #009c44;
// $warning: #e9c500;
// $danger: #f0002e;

// VERY CUSTOM OPTION
// $white: #ffffff;

// $light: #dbc8ff;
// $dark: #220b4e;
// $primary: #410f70;
// $secondary: #102770;
// $info: #4e260b;
// $success: #47700f;
// $warning: #705d0f;
// $danger: #e58679;

@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$font-family-base: 'Merriweather Sans', sans-serif;
$font-weight-normal: 300;
$font-weight-base: $font-weight-normal;
// $headings-font-family: '', sans-serif;

@import '~bootstrap/scss/utilities';

// changes to BS utilities here

@import '~bootstrap/scss/utilities/api';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/bootstrap';

// all other custom styles below this

// general styles
body {
  padding-bottom: 62px;
}

b {
  font-weight: 900;
}

strong {
  font-weight: 900;
}

.reading-text {
  font-family: 'Merriweather', serif;
  font-size: 1.05em;
}

.monospace-text {
  font-family: 'Courier Prime', Courier, monospace;
}

.page-main-container {
  @extend .m-0;
  @extend .p-3;
}

.alter-content-field {
  @extend .text-dark;
  @extend .border-dark;
  // @extend .bg-warning;
  background-color: $orange-200;
  @extend .bg-gradient;
  @extend .fw-bold;
}

@import './calendar';
@import './graphs';
@import './toast';
@import './markdown';
